*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --address-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: #000;
    --accent-color: #2196f3;
    --primary-background-color: #fff;
    --secondary-background-color: #2f303a;
    --additional-background-color: #f5f4fa;
    --button-background-color: #188ce8;
    --primary-sociallink-color: #AFB1B8;
    --primary-font-weight: 700;
    --secondary-font-weight: 500;
    --footer-links-bgccolor: rgba(255, 255, 255, 0.1);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-color:rgba(117, 117, 117, 0.5);
}

/* .reset {
    list-style-type: none;
}

.link {
    text-decoration: none;
} */


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

    font-family: Roboto, sans-serif;
    letter-spacing: .03em;

    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

header {
    border-bottom: 1px solid #ECECEC;
}


.header {
    display: flex;
   
}

.page-header {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.section-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Container */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.primary-button {
    display: inline-block;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    text-align: center;
    font-family: inherit;
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: .06em;

    cursor: pointer;
    color: var(--primary-background-color);
    background-color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
}


.primary-button:hover,
.primary-button:focus {
    color: var(-primary-background-color);
    background-color: var(--button-background-color);

}

.secondary-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;

    text-align: center;
    font-family: inherit;
    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    color: var(--secondary-text-color);
    background-color: var(--additional-background-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

/* Логотип сайту */

.logo-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo-link__web {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--accent-color);
}

.logo-link__studio {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--additional-text-color);
}

/* Навігація сайту */

.header__navigation {
    display: flex;

}

.site-nav__link--current {
    position: relative;
    color: var(--accent-color);
}

.site-nav__link--current::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;

    background: var(--accent-color);
    border-radius: 2px;

}

.site-nav {
    display: flex;
}

/* .site-nav__item +.site-nav__item {
    margin-left: 50px;
} */

.site-nav__item:not(:first-child) {
    margin-left: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--secondary-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
    
}

/* Контакти */

.contacts-div {
    display: flex;
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts__item:not(:first-child) {
    margin-left: 50px;
}

.site-contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary-text-color);
}

.head-div {
    display: flex;

}

.site-contacts__link:hover,
.site-contacts__link:focus {
    color: var(--accent-color);
}

.site-contacts__link:hover .site-contacts__icon-envelope,
.site-contacts__link:focus .site-contacts__icon-envelope {
    fill: var(--accent-color);
}

.site-contacts__icon-envelope {
    margin-right: 10px;
    
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover .site-contacts__icon-smartphone,
.site-contacts__link:focus .site-contacts__icon-smartphone {
    fill: var(--accent-color);
}

.site-contacts__icon-smartphone {
    margin-right: 10px;

    fill: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smart {
    min-width: 142px;
}

/* Секції */

.section,
.section-team,
.section-clients {

    padding-top: 94px;
    padding-bottom: 94px;
}

.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;

    font-weight: var(--primary-font-weight);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--secondary-text-color);
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url("../images/bgcimage.jpg");
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: .06em;
    width: 696px;
    margin: 0 auto;
    text-transform: uppercase;

    color: var(--primary-background-color);
}


/* Фільтри */

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 4px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list .secondary-button:hover,
.filters-list .secondary-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filters-list .item+.item {
    margin-left: 8px;
}

/* Список робіт */

.works-examples {
    display: flex;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.works-list .item {
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);

    background-color: var(--primary-background-color: #fff);

}

.works-list .item:nth-child(3n + 1) {
    margin-left: 0;
}

.works-list .item:nth-child(3n + 3) {
    margin-right: 0;
}

.works-list .item:nth-child(n + 7) {
    margin-bottom: 0;
}

.works-desc {
    padding: 20px 24px;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.works-desc .title {
    margin-bottom: 4px;
}

.works-desc .text {
    width: 322px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: .03em;

    color: #757575;
}

/* Особливості */

.features-list {
    display: flex;
}

.features-list__item:not(:first-child) {
    margin-left: 30px;
}

.features-list__title {
    margin-bottom: 10px;

    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.features-list__text {
    font-size: 14px;
    line-height: 1.7;
}

.features-list__container {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}



/* Команда */

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--additional-background-color);
}

.team-list {
    display: flex;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-background-color);
}

.team-item:not(:first-child) {
    margin-left: 30px;
}

.team-item__title {
    margin-bottom: 10px;

    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--secondary-text-color);
}


.team-item__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-item__description {
    display: block;
    padding-left: 32px;
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 30px;
}

.team-socials {
    display: flex;
    width: 206px;
    height: 44px;
    margin-top: 16px;
    align-items: center;
    justify-content: center;

}

.team-socials__item:not(:first-child) {
    margin-left: 10px;
}

.team-socials__item {
    display: block;
    width: 44px;
    height: 44px;
}


.team-socials__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover {
    background-color: var(--accent-color);
} 

.team-socials__svg {
    fill: var(--primary-sociallink-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover .team-socials__svg {
    fill: var(--primary-background-color);
    
}


/* Постоянные клиенты */

.clients-list {
    display: flex;
}

.clients-list__item {
    width: 170px;
    height: 92px;
}

.clients-list__item:not(:first-child) {
    margin-left: 30px;
} 

.clients-list__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
    border-color: var(--accent-color);
}

.clients-list__svg {
    fill: var(--primary-sociallink-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__svg,
.clients-list__link:focus .clients-list__svg {
    fill: var(--accent-color);
}


/* Роботи */

.works-list .title {
    font-weight: var(--primary-font-weight);
    font-size: 18px;
    line-height: 2;
    letter-spacing: .06em;

    color: var(--secondary-text-color);
}

.works-list {
    display: flex;
}

.works-list .item {
    width: 370px;
    height: 404px;
}

/*PROFILE OVERLAY*/

.item-thumb {
    position: relative;
    overflow: hidden;
}

.works-list .item:hover .item-overlay {
    transform: translateY(0);
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-overlay>p {
    display: block;

    width: 322px;
    height: 168px;

    margin-left: 24px;
    margin-top: 63px;
    margin-right: 24px;
    margin-bottom: 63px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .03em;

    color: var(--primary-background-color);

}


.works-list .item-card {
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list .item-card:hover {
    display: block;
    width: 100%;
    height: 100%;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

/*PROFILE OVERLAY*/

.work-list {
    display: flex;
}

.work-list__item:not(:first-child) {
    margin-left: 30px;
}

.work-list .text {
    font-size: 16px;
    line-height: 31.8;
}

/* OVERLAY */


.work-list__thumb {
    display: block;
    position: relative;
}

.work-list__thumb::after {
    position: absolute;
    display: block;

    content: "";
    bottom: 0;
    height: 70px;
    width: 100%;
    
    background-color: rgba(47, 48, 58, 0.8);
}

.work-list__paragraph {
    display: block;
    position: absolute;
    bottom: 27px;
    left: 107px;
    z-index: 1;

    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--primary-background-color);
}

/* OVERLAY */

/* Футер */

.main-footer {
    padding: 60px 0;
    background-color: var(--secondary-background-color);
}

.main-footer>.container {
    display: flex;
    align-items: baseline;
}

.footer-container {
    font-style: normal;

}

/* Логотип футеру */

.logo-web {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--accent-color);
}

.logo-link__studio--inverse {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;

    color: var(--primary-background-color);
}

/* Адреси */


.address-block {
    display: flex;
    flex-direction: column;
}
.address-block__logo-link {
    display: block;
    
}

.footer-container__list {
    display: block;
}

.footer-container__item {
    margin-right: 0;
}

.footer-container__item:not(:first-child) {
    margin-top: 9px;
}

.footer-container__physical-address {
    margin-right: 0;
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-background-color);
}

.footer-container__link {
    font-size: 14px;
    line-height: 1.71;

    color: var(--address-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-container__link:hover,
.footer-container__link:focus {
    color: var(--accent-color);
}


.socials-block__list {
    display: flex;
    align-items: center;

}

.socials-block__item:not(:first-child) {
    margin-left: 10px;
}

.socials-block__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    background-color: var(--footer-links-bgccolor);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-block__item {
    width: 44px;
    height: 44px;
}

.socials-block__link:hover {
    background-color: var(--accent-color);
}

.socials-block__svg {
    fill: var(--primary-background-color);
}

.socials-block__title {
    margin-bottom: 20px;
    
    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--primary-background-color);
}

.socials-block {
    margin-left: 70px;
}

.backdrop {

    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);
   
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.backdrop.is-hidden {
   
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 528px;
    height: 581px;
    border-radius: 4px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);

    background: var(--primary-background-color);
 
}

.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;
    
}
.close-svg {
    fill: #000000 ;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover > .close-svg {
    
    fill: var(--accent-color);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: var(--primary-font-weight);
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: .03em;

    color: var(--secondary-text-color);
}

.label-name {   
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: .01em;

    color: var(--primary-text-color);
}

.contact-form-field {
    display: block;
}

.contact-form-input-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
}

.contact-form-input {
    display: block;
    padding-left: 42px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
   
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-icon {
    fill: var(--accent-color);
}

.contact-form-message {
    display: block;
    outline: none;
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 16px 12px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    border-color: var(--accent-color);
}

.contact-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: .01em;

    color: var(--placeholder-color);
}

.contact-form-checkbox-wrapper {
    display: block;
    margin-left: 13px;
    margin-bottom: 30px;
}

.contact-form-checkbox-label { 
    display: flex;
    align-items: center;

    margin-left: 7px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;

    color: var(--primary-text-color);
}

.contact-form-checkbox-label::before {
    display: inline-block;
    content: " ";
    width: 16px;
    height: 15px;
    margin-right: 9px;
    border-radius: 2px;
   
    background-image: url(../images/Vectorbox.svg);
    cursor: pointer;

}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--accent-color);
}

.checkbox-link {
    color: var(--accent-color);
}

.contact-form-submit-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: none;

    text-align: center;
    font-family: inherit;
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: .06em;
    cursor: pointer;
    border-radius: 4px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--primary-background-color);
    outline: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
    color: var(-primary-background-color);
    background-color: var(--button-background-color);
}

.subscribe-block {
    display: block;
    margin-left: auto;

}

.subscribe-block__title {
    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--primary-background-color);
}

.subscribe-block__input {
    display: block;
    margin-top: 20px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
   
    background-color: var(--secondary-background-color);
    color: var(--primary-background-color);
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: .03em;
    
    color: var(--address-color);
}

.subscribe-block__form {
    display: flex;
    flex-direction: row;
    
}

.subscribe-button {

    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    border-radius: 4px;
    border: none;
   
    font-family: inherit;
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: .06em;
    
    cursor: pointer;
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    
}


.subscribe-button:hover,
.subscribe-button:focus {
    color: var(-primary-background-color);
    background-color: var(--button-background-color);
}

.button-wrapper {
    position: relative;
    margin-top: 20px;
}

.subscribe-button__svg {
    position: absolute;
    top: 13px;
    right: 28px;
}

.subscribe-button__title {
    display: inline-block;
    position: absolute;
    left: 28px;
    top: 10px;
}


